.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-bottom: 10px;
    
}
.containerMultiselect {
    border: 1px solid #cbcfd5;
    padding: 6px;
    background-color: #fff;
    border-radius: 4px;
}
.list {
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #e8edfb;
}
.label {
    color: #273445;
    font-weight: 600;
    font-size: 11px;
}
.item {
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    cursor: pointer;
}
.item:hover  {
    background-color: rgb(212, 212, 212);
}
.selectedContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
}
.selectedLabel {
    color: #273445;
    font-weight: 600;
    font-size: 11px;
}
.selected {
    width: 100%;
    height: 36px;
    border: 1px solid #e4e9f2;
    color: #244D51;
    background-color: #f7f9fc;
    line-height: 36px;
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 6px;
    font-size: 14px;
    color: #244D51;
    box-sizing: border-box;
}
.inputContainer {
    position: relative;
}
.reset {
    position: absolute;
    top: 30px;
    right: 8px;
    border: unset;
    background-color: transparent;
    cursor: pointer;
}
.closeBtn {
    position: absolute;
    top: 8px;
    right: 8px;
    border: unset;
    background-color: transparent;
    cursor: pointer;
}
.multiContainer {
    position: relative;
    display: inline-flex;
    flex-direction: row;
    padding: 0 30px 0 20px;
    background-color: #5353f5;
    color: #fff;
    margin-right: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
}
.deleteItem {
    position: absolute;
    right: 0;
    top: -5px;
    border: unset;
    background-color: transparent;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
}
.multiselect {
    padding: 10px 0;
    color: #273445;
}
.icon {
    cursor: pointer;
}
.notFound {
    height: 30px;
    display: block;
    padding-left: 10px;
    box-sizing: border-box;
    line-height: 30px;
    color: #a8a8a8;
}